In [1]:
import pandas as pd
import os

In [5]:
pathToData = os.path.join(os.getcwd(), "Data", "Production_Crops_Livestock_E_All_Data.csv")

In [8]:
agData = pd.read_csv(pathToData, encoding="latin-1")
agData.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,Y2020,Y2020F
0,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,ha,NaN,NaN,NaN,...,19481.0,NaN,19793.0,NaN,20053.0,NaN,29203.0,NaN,22134.0,NaN
1,2,Afghanistan,221,"Almonds, with shell",5419,Yield,hg/ha,NaN,NaN,NaN,...,16859.0,Fc,13788.0,Fc,17161.0,Fc,13083.0,Fc,17759.0,Fc
2,2,Afghanistan,221,"Almonds, with shell",5510,Production,tonnes,NaN,NaN,NaN,...,32843.0,NaN,27291.0,NaN,34413.0,NaN,38205.0,NaN,39307.0,NaN
3,2,Afghanistan,711,"Anise, badian, fennel, coriander",5312,Area harvested,ha,NaN,M,NaN,...,24500.0,Im,26500.0,Im,25333.0,Im,25444.0,Im,25759.0,Im
4,2,Afghanistan,711,"Anise, badian, fennel, coriander",5419,Yield,hg/ha,NaN,NaN,NaN,...,7075.0,Fc,7149.0,Fc,7142.0,Fc,7123.0,Fc,7138.0,Fc

In [9]:
agData["Area"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize',
       'Benin', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Guyana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Federated States of)',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'USSR', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Yugoslav SFR', 'Zambia', 'Zimbabwe', 'World', 'Africa',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia and New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)',
       'Least Developed Countries', 'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries'], dtype=object)

In [12]:
agDataChina = agData[agData["Area"] == "China, mainland"]
agDataChina.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,Y2020,Y2020F
10685,41,"China, mainland",221,"Almonds, with shell",5312,Area harvested,ha,NaN,M,NaN,...,13194.0,Im,12853.0,Im,12522.0,Im,12822.0,Im,12551.0,Im
10686,41,"China, mainland",221,"Almonds, with shell",5419,Yield,hg/ha,NaN,NaN,NaN,...,32796.0,Fc,33455.0,Fc,34340.0,Fc,35096.0,Fc,35854.0,Fc
10687,41,"China, mainland",221,"Almonds, with shell",5510,Production,tonnes,5000.0,F,5500.0,...,43271.0,Im,43000.0,*,43000.0,*,45000.0,*,45000.0,*
10688,41,"China, mainland",711,"Anise, badian, fennel, coriander",5312,Area harvested,ha,NaN,M,NaN,...,38811.0,Im,39248.0,Im,39454.0,Im,39171.0,Im,39291.0,Im
10689,41,"China, mainland",711,"Anise, badian, fennel, coriander",5419,Yield,hg/ha,NaN,NaN,NaN,...,12795.0,Fc,12861.0,Fc,12896.0,Fc,12851.0,Fc,12869.0,Fc

In [13]:
agDataChina["Item"].unique()

array(['Almonds, with shell', 'Anise, badian, fennel, coriander',
       'Apples', 'Apricots', 'Artichokes', 'Asparagus', 'Asses',
       'Avocados', 'Bananas', 'Barley', 'Bastfibres, other', 'Beans, dry',
       'Beans, green', 'Beehives', 'Beer of barley', 'Beeswax',
       'Berries nes', 'Broad beans, horse beans, dry', 'Buckwheat',
       'Buffaloes', 'Butter, buffalo milk', 'Butter, cow milk',
       'Cabbages and other brassicas', 'Camels', 'Carrots and turnips',
       'Cashew nuts, with shell', 'Cassava', 'Castor oil seed', 'Cattle',
       'Cauliflowers and broccoli', 'Cereals nes', 'Cheese, buffalo milk',
       'Cheese, goat milk', 'Cheese, sheep milk',
       'Cheese, skimmed cow milk', 'Cheese, whole cow milk', 'Cherries',
       'Chestnut', 'Chick peas', 'Chickens', 'Chillies and peppers, dry',
       'Chillies and peppers, green', 'Cinnamon (cannella)', 'Cloves',
       'Coconuts', 'Coffee, green', 'Cotton lint', 'Cottonseed',
       'Cow peas, dry', 'Cucumbers and gherkins', 'Dates', 'Ducks',
       'Eggplants (aubergines)', 'Eggs, hen, in shell',
       'Eggs, other bird, in shell', 'Fat, buffaloes', 'Fat, camels',
       'Fat, cattle', 'Fat, goats', 'Fat, pigs', 'Fat, sheep',
       'Fibre crops nes', 'Figs', 'Flax fibre and tow',
       'Fruit, citrus nes', 'Fruit, fresh nes', 'Fruit, stone nes',
       'Fruit, tropical fresh nes', 'Garlic', 'Geese and guinea fowls',
       'Ginger', 'Goats', 'Grapefruit (inc. pomelos)', 'Grapes',
       'Groundnuts, with shell', 'Hazelnuts, with shell',
       'Hemp tow waste', 'Hempseed', 'Hides, buffalo, fresh',
       'Hides, cattle, fresh', 'Honey, natural', 'Hops', 'Horses', 'Jute',
       'Karite nuts (sheanuts)', 'Kiwi fruit', 'Lard',
       'Leeks, other alliaceous vegetables', 'Lemons and limes',
       'Lentils', 'Lettuce and chicory', 'Linseed', 'Maize',
       'Maize, green', 'Mangoes, mangosteens, guavas', 'Meat nes',
       'Meat, ass', 'Meat, buffalo', 'Meat, camel', 'Meat, cattle',
       'Meat, chicken', 'Meat, duck', 'Meat, goat',
       'Meat, goose and guinea fowl', 'Meat, horse', 'Meat, mule',
       'Meat, pig', 'Meat, rabbit', 'Meat, sheep',
       'Melons, other (inc.cantaloupes)', 'Melonseed',
       'Milk, skimmed cow', 'Milk, whole condensed',
       'Milk, whole evaporated', 'Milk, whole fresh buffalo',
       'Milk, whole fresh camel', 'Milk, whole fresh cow',
       'Milk, whole fresh goat', 'Milk, whole fresh sheep', 'Millet',
       'Molasses', 'Mules', 'Mushrooms and truffles', 'Mustard seed',
       'Nuts nes', 'Oats', 'Offals, edible, buffaloes',
       'Offals, edible, camels', 'Offals, edible, cattle',
       'Offals, edible, goats', 'Offals, horses', 'Offals, pigs, edible',
       'Offals, sheep,edible', 'Oil palm fruit', 'Oil, cottonseed',
       'Oil, groundnut', 'Oil, linseed', 'Oil, maize', 'Oil, palm',
       'Oil, palm kernel', 'Oil, rapeseed', 'Oil, sesame', 'Oil, soybean',
       'Oil, sunflower', 'Oilseeds nes', 'Onions, dry',
       'Onions, shallots, green', 'Oranges', 'Palm kernels', 'Papayas',
       'Peaches and nectarines', 'Pears', 'Peas, dry', 'Peas, green',
       'Pepper (piper spp.)', 'Persimmons', 'Pigs', 'Pineapples',
       'Pistachios', 'Plums and sloes', 'Potatoes', 'Pulses nes',
       'Pumpkins, squash and gourds', 'Quinces', 'Rabbits and hares',
       'Ramie', 'Rapeseed', 'Rice, paddy',
       'Rice, paddy (rice milled equivalent)', 'Roots and tubers nes',
       'Rubber, natural', 'Rye', 'Safflower seed', 'Seed cotton',
       'Sesame seed', 'Sheep', 'Silk, raw', 'Silk-worm cocoons, reelable',
       'Sisal', 'Skins, goat, fresh', 'Skins, sheep, fresh', 'Sorghum',
       'Soybeans', 'Spices nes', 'Spinach', 'Strawberries', 'Sugar beet',
       'Sugar cane', 'Sugar Raw Centrifugal', 'Sunflower seed',
       'Sweet potatoes', 'Tallow', 'Tallowtree seed',
       'Tangerines, mandarins, clementines, satsumas', 'Taro (cocoyam)',
       'Tea', 'Tobacco, unmanufactured', 'Tomatoes', 'Triticale',
       'Tung nuts', 'Vanilla', 'Vegetables, fresh nes',
       'Vegetables, leguminous nes', 'Walnuts, with shell', 'Watermelons',
       'Wheat', 'Whey, condensed', 'Wine', 'Wool, greasy',
       'Beef and Buffalo Meat', 'Butter and Ghee', 'Cattle and Buffaloes',
       'Cereals, Total', 'Cheese (All Kinds)', 'Citrus Fruit, Total',
       'Eggs Primary', 'Evaporat&Condensed Milk', 'Fruit Primary',
       'Meat, Poultry', 'Meat, Total', 'Milk, Total',
       'Oilcrops, Cake Equivalent', 'Oilcrops, Oil Equivalent',
       'Poultry Birds', 'Pulses, Total', 'Roots and Tubers, Total',
       'Sheep and Goat Meat', 'Sheep and Goats', 'Sugar Crops Primary',
       'Treenuts, Total', 'Vegetables Primary'], dtype=object)

In [19]:
agDataChinaKiwi = agDataChina[agDataChina["Item"] == "Kiwi fruit"]
agDataChinaKiwi.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,Y2020,Y2020F
10892,41,"China, mainland",592,Kiwi fruit,5312,Area harvested,ha,NaN,M,NaN,...,172845.0,Im,174742.0,Im,174953.0,NaN,182566.0,NaN,184554.0,Im
10893,41,"China, mainland",592,Kiwi fruit,5419,Yield,hg/ha,NaN,NaN,NaN,...,122424.0,Fc,121959.0,Fc,120831.0,Fc,120325.0,Fc,120835.0,Fc
10894,41,"China, mainland",592,Kiwi fruit,5510,Production,tonnes,NaN,M,NaN,...,2116031.0,Im,2131141.0,Im,2113971.0,NaN,2196727.0,NaN,2230065.0,Im

In [20]:
selectCols = ["Element", "Unit"]
for x in range(2000, 2021):
    selectCols.append("Y" + str(x))
agDataChinaKiwi = agDataChinaKiwi[selectCols]
agDataChinaKiwi.head()

,Element,Unit,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
10892,Area harvested,ha,70000.0,75000.0,78000.0,80000.0,83000.0,85000.0,87000.0,90000.0,...,100000.0,110000.0,161500.0,145000.0,181900.0,172845.0,174742.0,174953.0,182566.0,184554.0
10893,Yield,hg/ha,121429.0,126667.0,128205.0,131250.0,132530.0,129412.0,132184.0,133333.0,...,125537.0,132070.0,109340.0,126897.0,120279.0,122424.0,121959.0,120831.0,120325.0,120835.0
10894,Production,tonnes,850000.0,950000.0,1000000.0,1050000.0,1100000.0,1100000.0,1150000.0,1200000.0,...,1255374.0,1452767.0,1765847.0,1840000.0,2187867.0,2116031.0,2131141.0,2113971.0,2196727.0,2230065.0

In [24]:
def cropData(agItem):
    """
        Filter the data for a specific crop/food. 
        Argument:
            agItem: String, the crop/food to filter for. 
        Return: the agriculture data filtered by the crop/food.     
    """
    return agData[agData["Item"] == agItem]

In [25]:
agDataKiwi = cropData("Kiwi Fruit")